<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View: Fam reunion - Address Book</title>
</head>
<body>
<h2>View!</h2>
<p>View a single record from the address book.<br/></p>
<h3>Results</h3>
<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Street Address</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Zip Code</th>
    </tr>

    <tbody>
    <tr th:each="query : ${dataPull}">
        <td th:text="${query.firstname}">First Name</td>
        <td th:text="${query.lastname}">Last Name</td>
        <td th:text="${query.streetaddress}">Street Address</td>
        <td th:text="${query.city}">City</td>
        <td th:text="${query.state}">State</td>
        <td th:text="${query.country}">Country</td>
        <td th:text="${query.zipcode}">Zip Code</td>
    </tr>
    </tbody>
</table>

<br/><br/>
<a href="/addressbook/single/add/">View all records.</a>
</body>
</html>