<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Start: Fam reunion - Registration</title>
</head>
<body>
<h2>Begin</h2>
<p>Welcome to the family reunion website</p>
<h3>Form</h3>
<form action="#" th:action="@{/register}" th:object="${login}" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input th:field="*{password}" type="text"/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input th:field="*{email}" type="text"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
        <td>
            <button type="submit">Submit</button>
        </td>
        </tr>
    </table>
</form>

<form action="#" method="post" th:action="@{/addressbook/single/add/}" th:object="${errorMessage}">
    <table>
        <tr>
            <td><p th:text="${errorMessage.errormessage}"/></td>
        </tr>
    </table>
</form>
</body>
</body>
</html>