<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Success: Fam reunion - Registration</title>
</head>
<body>
<h2>Success!</h2>
<p>Your account was successfully added to the database. You are now able to login.<br/></p>
<h3>Results</h3>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
    </tr>

    <tbody>
    <tr th:each="query : ${login}">
        <td th:text="${login.username}">Username</td>
        <td th:text="${login.password}">Password</td>
        <td th:text="${login.email}">Email</td>
    </tr>
    </tbody>
</table>

<!--<p th:text="'id: ' + ${login.id}" />-->
<!--<p th:text="'username: ' + ${login.username}" />-->
<!--<p th:text="'password: ' + ${login.password}" />-->
<!--<p th:text="'lastlogin: ' + ${login.lastLogin}" />-->
<!--<p th:text="'lastip: ' + ${login.lastIp}" />-->
<!--<p th:text="'level: ' + ${login.level}" />-->

</body>
</html>